---
- hosts: localhost
  gather_facts: no

  vars:
          jarlist: [1,1,1,1,1,5]
          repeatlist: [1,2,2,2,4,4,4,4,9,9,9,9]
          repeat2list: [5,5,5,5,5,6,7]
          complexlist: [6,7,8,[9,10,22],87]

  tasks:
          - name: The min filter
            debug:
                    msg: "Lowest number in the list: {{ jarlist|min }}"
          - name: The max filter
            debug:
                    msg: "Largest number in the list: {{ jarlist|max }}"
          - name: the flatten filter
            debug:
                    msg: "The list was complex '{{ complexlist }}' but now it is not {{ complexlist|flatten }}"
          - name: flatten filter used with looping
            debug:
                    msg: 'We just want to use the items from the list {{ item }}'
            loop: "{{ complexlist|flatten }}"
          - name: get a unique set from a list
            debug:
                    msg: 'We just want the unique set from a list {{ repeatlist|unique }}'
          - name: produce a list union
            debug:
                    msg: 'Display a union of the lists {{ repeatlist|union(repeat2list) }}'
          - name: Diff two lists
            debug:
                    msg: 'Display the diffs of two lists {{ repeatlist|difference(repeat2list) }}'

